#page_resources {
  margin: 0;
  padding: 0;
  width: 280px;
  width: 100%;
  li {
    position: relative;
    list-style: none;
    // float: left;
    margin: 10px 20px 20px 0;
    // width: 115px;
    // height: 105px;
    padding: 12px 10px 10px 10px;
    background: #41403C;
    color: white;
    * {
      cursor: move;
    }
    &.page_resource_empty {
      background:transparent;
    }
    &.odd {
      margin-right: 18px;
    }
    .resource_actions {
      background: white;
      position: absolute;
      padding: 3px;
      left: 0;
      top: 0;
      width: 20px;
      * {
        cursor: pointer;
      }
      &.no_captions {
        background: transparent;
      }
    }
    p {
      color: white;
    }
  }
  > li .resource_actions img.caption {
    position: absolute;
    right: 3px;
    top: 3px;
  }
}

#content {
  ul#page_resources.ui-sortable li {
    border: 0;
    //background: none !important;
    background: #41403C !important;

    &.page_resource_empty {
      background: transparent !important;
    }
  }
  #page_resources.ui-sortable li.placeholder {
    width: 135px;
    height: 135px;
  }
}

a#add_resource_link {
  margin-top: 0;
  line-height: 29px;
  padding-left: 20px;
  display: inline;
  border-bottom: 0;
  background: image-url('refinery/icons/add.png') no-repeat 0px 6px;
}